<ion-header>
	<ion-toolbar color="danger">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Character Details</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>

	<ion-card *ngIf="character">
		<ion-card-content>
			{{ character.category }}
		</ion-card-content>
		<ion-card *ngIf="character" class="movie-card">
			<ion-card-header color="danger">Character {{ character.character }}: {{ character.title }}
			</ion-card-header>
			<ion-card-content>
				{{ character.status }}
			</ion-card-content>
            <p align="center"><img [src]="character.img" width="150" height="150" class="info-img"></p>
			
            <ion-item class="movie-info" lines="none">
				<ion-icon name="person-outline" slot="start"></ion-icon>
				Character: {{ character.name }}
			</ion-item>
			<ion-item class="movie-info" lines="none">
				<ion-icon name="body-outline" slot="start"></ion-icon>
				Nickname: {{ character.nickname }}
			</ion-item>
			<ion-item class="movie-info" lines="none">
				<ion-icon name="ribbon-outline" slot="start"></ion-icon>
				Occupation: {{ character.occupation}}
			</ion-item>

		</ion-card>
	</ion-card>
</ion-content>