<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/characters">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Character Details</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteCharacter()" *ngIf="isFavouriteCharacters">
				<ion-icon name="star" slot="icon-only" color="light"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteCharacter()" *ngIf="!isFavouriteCharacters">
				<ion-icon name="star-outline" slot="icon-only" color="light"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content padding>

	<ion-card *ngIf="character">
		<ion-card-content>
			{{ character.category }}
		</ion-card-content>
		<ion-card *ngIf="character" class="movie-card">
			<ion-card-header color="primary">Character {{ character.character}}: {{ character.name }}
			</ion-card-header>
			
			<p align="center"><img [src]="character.img" width="150" height="150" class="info-img"></p>

				<ion-item class="movie-info" lines="none">
					<ion-icon name="flash-off-outline" slot="start"></ion-icon>
					Status: {{ character.status }}
				</ion-item>
				<ion-item class="movie-info" lines="none">
					<ion-icon name="person-circle-outline" slot="start"></ion-icon>
					Nickname: {{ character.nickname }}
				</ion-item>
				<ion-item class="movie-info" lines="none">
					<ion-icon name="ribbon-outline" slot="start"></ion-icon>
					Occupation: {{ character.occupation}}
				</ion-item>


		</ion-card>
	</ion-card>
</ion-content>